
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');
;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-primary: #fff;
    --text-secundary: #000;
    --font-heading: 'Poppins';
    --font-default: 'Montserrat';
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: var(--font-default);
    color: var(--text-primary);
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    background-image: url("../images/Hero.jpg");
    background-size: cover;
    height: 100vh;
    padding: 3.5rem 40rem;
}

h1 {
    font-size: 6.4rem;
    font-weight: 900;
    font-family: var(--font-heading);
    color: var(--text-primary)
}

span {
    font-size: 4.8rem;
    font-weight: 400;
}

.button{
    background: linear-gradient(90deg, #FC351A, #F7A933);
    padding: 1rem 3rem;
    border-radius: 7px;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

img.avatar {
    border-radius: 50%;
}

.section-presentation {
    display: flex;
    color: var(--text-secundary);
}

.section-presentation div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}